.newsletter-container {
  margin-top: 20px;
  border-top: 5px solid #3c3c3c;
  padding-top: 20px;
}

.newsletter-container h1 {
  text-align: center;
  font-family: "Yellowtail", cursive;
}

.newsletter-container .form {
  width: 500px;
  margin: 0 auto;
}
